<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top w-100 pr-lg-4 pl-lg-5 px-3">
  <a href="javascript:void(0)" class="toggle-btn d-lg-none d-block" (click)="sidebarLgCollapse()"><i class="fa fa-bars text-blue"></i></a>
  <a class="navbar-brand mr-0" href="javascript:void(0)"> <span class="d-none d-lg-inline-block"> {{path}} </span> 
    <span class="d-lg-none d-md-inline-block"><img src="assets/images/logo.svg" alt=""></span></a>
    <ul class="navbar-nav ml-lg-auto">
      <li class="nav-item active">
        <a href="javascript:void(0)" class="user">
          <div class="user-detail">
            <div class="name">Hi, Ovin</div>
          </div>
            <div class="user-img">
              <img src="assets/test-user.png" alt="">
            </div>
            
            <!-- <div class="icon" ngbDropdown placement="bottom-left">
              <img ngbDropdownToggle src="assets/Arrow - Down 2.svg" alt="">
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem><img src="assets/logouta.svg" class="mr-1" height="14" alt=""> Déconnexion</button>
                </div>
            </div> -->
          </a>
      </li>
    </ul>
    
</nav>