<div class="h-100 overlay">
<div class="sidebar">
    <div class="side-logo">
      <a href="javascript:void(0)" class="toggle-btn d-lg-none d-inline-block mr-3" (click)="sidebarLgCollapse()"><i class="fa fa-bars text-blue"></i></a>
        <a href="javascript:void(0)" class="active"> <span><img src="assets/images/logo.svg" alt=""></span> </a>
      </div>
      <ul>
          <li>
              <a href="javascript:void(0)" routerLink="/" routerLinkActive="active"><i><img src="assets/1.svg" class="img1" alt=""><img src="assets/1a.svg" class="img2" alt=""></i> <span>Dashboard</span> </a>
          </li>
          <li>
              <a href="javascript:void(0)" routerLink="/teacher" routerLinkActive="active"><i><img src="assets/2.svg" class="img1" alt=""><img src="assets/2a.svg" class="img2" alt=""></i> <span>Teachers</span> </a>
          </li>
          <li>
              <a href="javascript:void(0)"><i><img src="assets/3.svg" class="img1" alt=""><img src="assets/3a.svg" class="img2" alt=""></i> <span>Payments</span> </a>
          </li>
        
      </ul> 
      <div class="bottom-text">From edumix with love ♥</div>
  </div>

</div>