<div class="main">
    <div class="pr-lg-4 pl-lg-5 px-3 pt-lg-2">
  <div class="d-block d-lg-none fs-22 fw-500 mb-3"> Dashboard </div>
        <div class="row">
            <div class="col-md-7 pr-lg-4">
                <div class="card-into">
                    <div class="form-row">
                        <div class="col-md-8">
                            <div class="text-side">
                                <h2>Good afternoon Ovin!</h2>
                                <p>It is good to see you back. <br> Get ready and see your lessons today</p>
                                <button class="btn">Find classes & Study packs</button>
                            </div>
                        </div>
                        <div class="col-md-4 px-lg-3">
                            <div class="image-side">
                                <img src="assets/images/Layer 0@2x.png" class="w-100" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between my-4">
                    <div class="fs-16 fw-600">Continue Learning</div>
                    <div class="d-flex align-items-center">
                        <div class="form-check-1 mr-lg-4 mr-1">
                            <input type="checkbox" class="styled-checkbox" id="0">
                            <label for="0" class="form-check-label"> Classes</label>
                        </div>
                        <div class="form-check-1">
                            <input type="checkbox" class="styled-checkbox" id="1">
                            <label for="1" class="form-check-label"> Study packs</label>
                        </div>
                    </div>
                </div>

                <div class="card-xs">
                    <div class="media">
                        <div class="media-img">
                            <img src="assets/images/1.svg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="d-flex justify-content-between">
                                <div class="detail">
                                    <div class="fs-16 fw-500">Physics - 2022</div>
                                    <div class="fs-14 fw-500 text-orange">Samitha Rathnayake</div>
                                </div>
                                <div class="text-orange fs-14 fw-500">New lesson</div>
                            </div>
                            <div class="text-right">
                                <span class="badge bg-blue mr-3">Theory</span>
                                <span class="badge bg-green">class</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-xs">
                    <div class="media">
                        <div class="media-img">
                            <img src="assets/images/2.svg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="d-flex justify-content-between">
                                <div class="detail">
                                    <div class="fs-16 fw-500">Chemistry - 2022</div>
                                    <div class="fs-14 fw-500 text-orange">Charitha Dissanayake</div>
                                </div>
                            </div>
                            <div class="text-right">
                                <span class="badge bg-blue mr-3">Theory</span>
                                <span class="badge bg-green">class</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-xs">
                    <div class="media">
                        <div class="media-img">
                            <img src="assets/images/3.svg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="d-flex justify-content-between">
                                <div class="detail">
                                    <div class="fs-16 fw-500">Straight line</div>
                                    <div class="fs-14 fw-500 text-orange">Nimal Gayantha</div>
                                    <div class="fs-12 fw-500 text-grey">Expires on: 2021/6/12</div>
                                    <div class="fs-12 fw-500 text-grey">Completion: 56%/ Watch time: 08h</div>
                                </div>
                            </div>
                            <div class="text-right">
                                <span class="badge bg-purple">Study pack</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="find my-5">
                        <div class="form-row align-items-md-center justify-content-center">
                            <div class="col-md-4 col-7 px-lg-3 mb-4 mb-lg-0">
                                <img src="assets/images/girl.png" class="w-100" alt="">
                            </div>
                            <div class="col-md-6 text-center text-md-left">
                                <div class="text-side">
                                    <div class="fs-14 fw-500 text-grey mb-3">You don’t have any classes or study packs activated at this moment.</div>
                                    <button class="btn">Find classes & Study packs</button>
                                </div>
                            </div>
                            
                        </div>
                </div>


            </div>
            <div class="col-md-5 pl-lg-4">
                <div class="card-class">
                    <div class="form-row align-items-center">
                        <div class="col-7">
                            <div class="text-side">
                                <p class="mb-2">Learning time</p>
                                <h4>08</h4>
                                <span>Hours this week</span>
                                <h4>20</h4>
                                <span>Hours this Month</span>
                            </div>
                        </div>
                        <div class="col-4 px-3">
                            <img src="assets/images/Hourglass@2x.png" class="w-100" alt="">

                        </div>
                    </div>

                </div>

                <div class="d-flex align-items-center justify-content-between my-4">
                    <div class="fs-16 fw-600">Notification</div>
                </div>

                <div class="card-xs">
                    <div class="media align-items-start">
                        <div class="media-img1">
                            <img src="assets/images/Megaphone.png" alt="">
                        </div>
                        <div class="media-body">
                            <div class="d-flex justify-content-between">
                                <div class="detail">
                                    <div class="fs-14 fw-500 mb-2">New lesson added to Chemistry 2022 Theory class</div>
                                    <div class="fs-14 text-grey">21 NOV 2021</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-xs">
                    <div class="media align-items-start">
                        <div class="media-img1">
                            <img src="assets/images/Objects.png" alt="">
                        </div>
                        <div class="media-body">
                            <div class="d-flex justify-content-between">
                                <div class="detail">
                                    <div class="fs-14 fw-500 mb-2">New lesson added to Chemistry 2022 Theory class</div>
                                    <div class="fs-14 text-grey">21 NOV 2021</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-xs">
                    <div class="media align-items-start">
                        <div class="media-img1">
                            <img src="assets/images/3D OBJECT.png" alt="">
                        </div>
                        <div class="media-body">
                            <div class="d-flex justify-content-between">
                                <div class="detail">
                                    <div class="fs-14 fw-500 mb-2">New lesson added to Chemistry 2022 Theory class</div>
                                    <div class="fs-14 text-grey">21 NOV 2021</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="notify my-5">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="noti-img">
                                <img src="assets/images/Megaphone.png" alt="">
                            </div>
                            <div class="fs-14 fw-500 text-grey">You don’t have any notifications yet.</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>